@import 'fonts';
@import 'vars';

body {
    font-family: 'Helvetica';
    font-weight: 300;
}
ul {
    padding-left: 0;
}
.wrapper {
    max-width: 1300px;
    margin:0 auto;
    padding:0px 20px;
}
header {
    min-height:120px;
    background: $mainC;

    .header-inside {
        display: flex;
        align-items: center;
        min-height: 120px;
        justify-content: space-between;
        &__contacts {
            display: flex;
            align-items: center;
            &-img {
                width: 23px;
                height: 39px;
                background: url(../images/phone.png);
                margin-right: 11px;
            }
            &-text {
                ul  {
                    li {
                        list-style: none;
                        color:#fff;
                    }    
                    li:first-child {
                        font-size: 28px;
                        font-weight: 600;
                    } 
                    li:last-child {
                        font-size: 14px;
                        letter-spacing: 0.35px;
                    }
                
              }
            }
        } 
        &__part2 {
            display: flex;
            justify-content: space-between;
            width: 395px;
            &-login {
                display: flex;
                align-items: center;
                &__img {
                    width: 32px;
                    height: 36px;
                    background: url(../images/avatar.png);
                    margin-right: 11px;
                }
                &__text {
                    ul  {
                        li , li a{
                            list-style: none;
                            color:#fff;
                        }    
                        li:first-child {
                            font-size: 18px;
                            font-weight: 500;
                        } 
                        li:last-child a {
                            font-size: 14px;
                            letter-spacing: 0.35px;
                            
                        }
                        a:hover {
                            color:#ffdf04;
                        }
                    }
                }
            }
            &-cart {
                display: flex;
                align-items: center;
                &__img {
                    width: 40px;
                    height: 36px;
                    background: url(../images/basket.png);
                    margin-right: 11px;
                }
                &__text {
                    ul {
                        li {
                            list-style: none;
                            color:#fff;
                        }
                        li:first-child {
                            font-size: 18px;
                            font-weight: 500;
                            > span {
                                font-weight: 300;
                            }
                        } 
                        li:last-child  {
                            font-size: 15px;
                            color:#cee8f8;
                            > span {
                                font-weight: 500;
                                color:#fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

.search-catalog {
    &__inside {
        display: flex;
        justify-content: space-between;
        min-height: 85px;
        align-items: center;
        &-show_catalog {
            position: relative;
            a{
                text-decoration: none;
                color: #272727;
            }
            &-inside {
                width: 300px;
                background: #ffd304;
                height: 56px;
                display: flex;
                align-items: center;
                padding-left: 18px;
                box-sizing: border-box;
                &__img {
                    width: 22px;
                    height: 18px;
                    background: url(../images/menu.png);
                    margin-right: 19px;
                }
                p {
                    font-weight: 500;
                }
            }
        }
        &-stock {
            &-inside {
                display: flex;
                align-items: center;
                width: 82px;
                justify-content: space-between;
                &__img {
                    width: 30px;
                    height: 30px;
                    background: url(../images/gift.png);
                }
                a {
                    color: #f70f2a;
                    text-decoration: underline;
                    font-weight: 400;
                }
            }
        }
        &-search {
            display: flex;
            width:780px;
            
            form {
                
                display: flex;
                 .search-field  {
                    height: 54px;
                    width: 490px;
                    border-top-left-radius: 27px;
                    border-bottom-left-radius: 27px;
                    border:1px solid #b5b5b5;
                    border-right:0;
                    box-sizing: border-box;
                    padding-left: 25px;
                    font-weight: 300;
                    color:#b5b5b5;
                }
                .search-field::-webkit-input-placeholder {color:#b5b5b5;}
                .search-field::-moz-placeholder          {color:#b5b5b5;}/* Firefox 19+ */
                .search-field:-moz-placeholder           {color:#b5b5b5;}/* Firefox 18- */
                .search-field:-ms-input-placeholder      {color:#b5b5b5;}
                select {
                    width: 153px;
                    font-size: 14px;
                    font-weight: 300;
                    padding:0px 0px 0 23px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    cursor:pointer;
                    border-right: 0;
                    border:1px solid #ccc;
                    position: relative;
                    display: block;
                    height:100%;
                    background: #efefef;
                }
                .select {
                    position: relative;
                }
                .select::after {
                    content:'';
                    width: 7px;
                    height: 14px;
                    display: block;
                    background: url(../images/select.png);
                    position: absolute;
                    top:20px;
                    right:18px;
                    cursor: pointer;
                }
                input[type="button"] {
                    font-family: 'HelveticaRegular';
                    width: 133px;
                    cursor: pointer;
                    font-size: 14px;
                    text-transform: uppercase;
                    color:#fff;
                    background: #191919;
                    border:0;
                    outline: 0;
                    border-top-right-radius: 27px;
                    border-bottom-right-radius: 27px;
                }
                * {
                    outline: none;
                }
            }
        }
    }
}
.main-slider {
    min-height: 570px;
}
.swiper-slide {
    display: flex;
}
.swiper-pic {
    width: 60%;
    height: 570px;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/slide-1.jpg);
}
.swiper-content {
    width:40%;
    height:570px;
    background: linear-gradient(to top, #fff, #F8F8F8);
    display: flex;
    justify-content: center;
        &__inside {
            background: url(../images/spoon.jpg);
            background-position: center;
            display: flex;
            flex-direction: column;
            background-repeat: no-repeat;
            align-items: center;
            padding-top: 29px;
            box-sizing: border-box;
            width:100%;
            h2 {
                font-size: 63px;
                text-align: center;
                color: $mainC;
                font-weight: 700;
                margin-top: 0;
                margin-bottom: 15px;
            }
            p {
                font-size: 27px;
                color:#1e1e1e;
                text-align: center;
                margin-top: 0;
            }
        }
    
}
.free-delivery {
    min-height: 148px;
    box-sizing: border-box;
    padding-top: 27.5px;
    .wrapper {
        max-width: 1107px !important;
    }
    &__inside {
        min-height:89px;
        border:2px solid $mainC;
        display: flex;
        align-items: center;
        justify-content: center;
        h4 {
            font-size: 37px;
            color: $mainC;
            font-weight: 700;
            text-align: center;
            margin: 0;
        }
    }
}
.sale-banner {
    &__items {
        display: flex;
        justify-content: space-between;
        &-item {
            width: 33.3333%;
            padding-top: 30%;
            position: relative;
            display: flex;

            img {
                position: absolute;
                top:0;
                width:100%;
                height:100%;
                z-index: 1;
            }
            a {
                position: absolute;
                top:0;
                z-index: 99;
            }
            &__inside {
                position: absolute;
                top:0;
                width:100%;
                height:100%;
                z-index: 100;
                box-sizing: border-box;
                padding:20px;
                a {
                    font-size: 20px;
                    font-weight: 500;
                    margin-top: 20px;
                    color:#1d1d1d;
                    line-height: 29px;
                    text-decoration: none;
                    padding-right: 20px;
                    span {
                        border-bottom:2px solid #979594; 
                    }
            }
            &-sale_price { 
                color:#fff;
                font-size: 22px;
                font-weight: 600;
                margin-top: 80px;
            }
            &-position_price {
                margin-top: 75px;
                .sp1 {
                    font-size: 18px;
                    position:relative;
                    color: #a4a4a4;
                    margin-right: 10px;
                }
                .sp2 {
                    font-size: 22px;
                    font-weight: 600;
                    color: $mainC;
                }
               > span:first-child::after {
                    content:"";
                    display:block;
                    position:absolute;
                    left:0;
                    top:50%;
                    color:#a4a4a4;
                    width:102%;
                    height:0;
                    border-bottom:2px solid #a4a4a4;
                    transform:rotate(9deg);
                    -webkit-transform:rotate(9deg);
                    -moz-transform:rotate(9deg);
                    -ms-transform:rotate(9deg);
                    -o-transform:rotate(9deg);
}
            }
        }
    }
        > div:first-child {
            background-image: url(../images/sale1.jpg);
        }
        > div:nth-child(2) {
            background-image: url(../images/sale2.jpg);
        }
        > div:last-child {
            background-image: url(../images/sale3.jpg);
        }
    }
}
.light-p {
    color:#fff !important;
    span {
        border-bottom:2px solid #fff !important;
    }
}
.best-offers , .catalog-block{
    &__inside {
        h4 {
            font-weight: 700;
            font-size: 37px;
            color:#1e1e1e;
        }
        &-items {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            &__item {
                width: 300px;
                min-height: 400px;
                box-shadow: 0px 1px 8px 1px #ccc;
                margin-bottom: 30px;
                display: flex;
                flex-direction: column;
                &-img {
                    width:300px;
                    padding-top: 83%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        position: absolute;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        padding-top: 10px;
                        max-width: 90%;
                        max-height: 90%;
                        /* left: 0px; */
                        object-fit: contain;
                    }
                }
                &-info {
                    padding: 0px 17px 19px 17px;
                    box-sizing: border-box;
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                    &__category {
                        p {
                            font-size: 14px;
                            text-transform: uppercase;
                            color: #aeaeae;
                            margin-top: 10px;
                            letter-spacing: 0.4px;
                        }
                    }
                    &__name {
                        text-align: left;
                        color:#2175cc;
                        text-decoration: underline;
                        margin-bottom: 17px;
                    }
                    &__buy {
                        display: flex;
                        justify-content: space-between;
                        padding-top: 15px;
                        margin-top: auto;
                        &__buy-price {
                            display: flex;
                            flex-direction: column;
                        }
                
                        &-inCart {
                            a {
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                background: #ffd304;
                                height: 41px;
                                padding:0px 15px;
                                color:#101010;
                                text-decoration: none;
                                font-family: 'HelveticaRegular';

                                img {
                                    margin-right: 12px;
                                    margin-bottom: 2px;
                                }
                            } 
                        }
                    } 
                }    
            }
        }
    }
}
.last-price {
    color: #aeaeae;
    font-size: 16px;
    margin-bottom:3px;
    margin-top: 0;
}
.current-price {
    
    sup {
        font-size: 11px;
    }
}
.item-sale {
    position: relative;
    .item-saleBlock {
        display: flex !important;
    }
}
.item-saleBlock {
    position: absolute;
    top:0;
    left:0;
    min-width: 62px;
    height: 32px;
    background: #f30a2b;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 11px;
    color:#fff;
    font-size: 14px;
    border-bottom-right-radius: 30px;
    display: none;
}
.item-new {
    position: relative;
    .item-newBlock {
        display: flex !important;
    }
}
.item-newBlock {
    position: absolute;
    top:0;
    left:0;
    min-width: 62px;
    height: 32px;
    background: #ffd304;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 11px;
    color:#000;
    font-size: 14px;
    border-bottom-right-radius: 30px;
    display: none;
    z-index: 99;
}
.current-price-item {
    font-weight: 500;
    font-size: 17px;
    color:#272727;
    margin-top: 0;
}
.stock-block {
    &__inside {
        width:100%;
        min-height: 145px;
        background-image: url(../images/stock.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color:#fff;
        display: flex;
        position: relative;
        align-items: center;
        padding-right: 20px;
        box-sizing: border-box;
        &-text {
            padding:32px 36px;
        box-sizing: border-box;
            p:first-child{
                font-weight: 700;
                font-size: 43px;
                margin-top: 0;
                text-transform: uppercase;
                margin-bottom: 13px;
            }
            p:last-child{
                font-family: 'HelveticaRegular';
                font-size: 34px;
                font-weight: 700;
                letter-spacing: 1px;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        &-more {
            color: #000;
            line-height: 50px;
            display: inline-block;
            font-size: 16px;
            text-decoration: none;
            background: #ffd304;
            border-radius: 26px        ;
            -webkit-border-radius: 26px        ;
            -moz-border-radius: 26px        ;
            -ms-border-radius: 26px        ;
            -o-border-radius: 26px        ;
            padding:0 72px;
            position: absolute;
            right:15px;
            bottom:13px;
            font-weight: 400;
            letter-spacing: 0.3px;
        }
    }
}
.news {
    padding-bottom: 70px;
    h4 {
        font-size: 37px;
        color: #1e1e1e;
        font-weight: 700;
        margin-bottom: 30px;
    }
    &-inside {
        display: flex;
        justify-content: space-between;
        &__article {
            width: 300px;
            &-img {
                width:100%;
                padding-top: 73%;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    padding-top: 10px;
                    max-width: 90%;
                    max-height: 90%;
                    object-fit: contain;
                }
            }
            &-text {
                padding:0px 15px 0px 15px;
                flex-grow: 1;
                &__date {
                    font-size: 16px;
                    color:  #aeaeae;
                    margin-top: 0;
                }
                &__name {
                    color: #232323;
                    font-size: 18px;
                    text-decoration: underline;
                }
                &__text {
                    color: #232323;
                    font-size: 14px;
                    margin-bottom: 10px;
                }
            }    
            &-stat {
                display: flex;
                &__comments {
                    &-img {
                        width: 15px;
                        height: 14px;
                        background-image: url(../images/comments.jpg);
                        margin-right: 3px;
                    }
                    padding-left: 15px;
                    display: flex;
                    align-items: center;
                    font-size: 11px;
                    color:#bbbbbb;
                    margin-right: 10px;
                }
                &__seens {
                    &-img {
                        width: 17px;
                        height: 12px;
                        background-image: url(../images/seen.jpg);
                        margin-right: 3px;
                    }
                    display: flex;
                    align-items: center;
                    font-size: 11px;
                    color:#bbbbbb;
                }
            }
        }
    }    
}
.subscribe {
    padding-bottom: 60px;
    &-inside {
        min-height: 80px;
        width:100%;
        display: flex;
        background: $mainC;
        padding:0px 25px;
        box-sizing: border-box;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        &__img {
            width: 47px;
            height: 37px;
            background-image: url(../images/sub.png);
        }
        p {
            font-size: 18px;
            color: #fff;
            letter-spacing: 0.3px;
        }
        form {
            display: flex;
            width: 635px;
            input {
                border:0;
                outline: 0;
            }
            input[type="text"] {
                width: 78.7%;
                height: 50px;
                background: #ffffff;
                font-weight: 300;
                font-size: 14px;
                color:#b5b5b5;
                padding-left: 22px;
                box-sizing: border-box;
                border-bottom-left-radius: 24px;
                border-top-left-radius: 24px;
            }
            input[type="submit"] {
                width: 135px;
                color:#fff;
                background: #191919;
                font-weight: 300;
                font-size: 14px;
                border-bottom-right-radius: 24px;
                border-top-right-radius: 24px;
                cursor: pointer;
            }
        }
    }
}
.otherBody {
    .search-catalog {
        border-bottom: 1px solid #c7c7c7;
    }
}
.page-nav {
    margin-bottom: 30px;
    &__inside {
        &-nav {
            ul {
                display: flex;
                li {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    margin-right: 5px;
                    p {
                        display: none;
                        font-size: 14px;
                        margin: 0;
                    }
                    a {
                        font-size: 14px;
                        color:#2175cc;
                        margin-right: 6px;
                    }
                    &:last-child {
                        p {
                            display: block;
                        }
                        a {
                            display: none;
                        }
                        img {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
footer {
    background: #151515;
    padding:20px 0px 30px 0px;
    box-sizing: border-box;
    .footer-inside {
        display: flex;
        justify-content: space-between;
        &__left {
            display: flex;
            flex-direction: column;
            max-width: 295px;
            img {
                margin-bottom: 10px;
            }
            &-right_reserved {
                font-size: 14px;
                color:#888888;
                margin-bottom: 17px;
                margin-top: 0;
            }
            &-dev {
                font-size: 14px;
                color:#888888;
                margin-top: auto;
                margin-bottom: 0;
                a {
                    color: #ffd304;
                }
            }
        }
        &__right {
            max-width: 710px;
            display: flex;
            flex-direction: column;
            &-nav {
                ul {
                    display: flex;
                    justify-content: space-between;
                    li {
                        list-style: none;
                        border-right:1px solid #fff;
                        padding:0px 9px;
                        a {
                            color:#fff;
                            text-decoration: none;
                            font-size: 14px;
                            font-family: 'HelveticaRegular';
                            &:hover {
                                color: #ffd304;
                            }
                        }
                        &:last-child {
                            border:0;
                        }
                    }
                }
            }
            &-contacts {
                text-align: right;
                &__phone {
                    color:#fff;
                    font-weight: 700;
                    font-size: 25px;
                    margin-top: 5px;
                    margin-bottom: 25px;
                }
                &__adress {
                    color:#fff;
                    font-size: 14px;
                    margin-top: 0;
                    margin-bottom: 8px;
                }
                &__watch-map {
                    margin-top: auto;
                    a {
                        color:#ffd304;
                        text-decoration: none;
                        span {
                            text-decoration: underline !important;
                        }
                    }
                }
            }
        }
    }
}
.catalog-block {
    &__inside {
        &-info {
            margin-bottom: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__name {
                h2 {
                   font-weight: 700;
                   font-size: 37px;
                   color:#1e1e1e; 
                   margin: 0;
                }
            }
            &__sort {
                display: flex;
                justify-content: space-between;
                width: 380px;
                p {
                    font-size: 14px;
                    margin-top: 0;
                    margin-bottom: 0;
                    margin-right: 5px;
                }
                a {
                    font-size: 14px;
                    color:#2175cc;
                    margin-right: 6px;
                    text-decoration: none;
                    span {
                        text-decoration: underline !important;
                    }
                    img {
                        margin-left: 2px;
                    }
                }
                &-name , &-quantity {
                    display: flex;
                }
            }
        }
        &-downNav {
            &__found {
                p {
                    font-size: 14px;
                    color:#262626;
                    span {
                        color: #b4b4b4;
                    }
                }
            }
            margin-bottom: 40px;
        }
    }
}

.product {
    &-inside {
        display: flex;
        justify-content: space-between;
    }
}

.catalog-block__inside-items__item {
    margin-bottom: 40px;
}
.search-catalog__inside-show_catalog:hover .catalog-min , .catalog-min:hover {
    top:85px;
    opacity: 1;
}
.search-catalog__inside-show_catalog {
    cursor: pointer;
    height: 85px;
    display: flex;
    align-items: center;
}
.catalog-min {
    min-width:300px;
    height:auto;
    background: #f8f8f8;
    position: absolute;
    top:-9999px;
    z-index: 400;
    opacity: 0;
    transition: opacity 0.2s ease;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    
    ul {
        padding: 6px 0px;
        li {
            list-style: none;
            padding:4px 0px 4px 20px;
            &:hover {
                .catalog-additional {
                    top: 0px;
                }
            }
            a {
                text-decoration: none;
                color: #272727;
                padding: 3px 0px;
                width: 100%;
            }
        }
    }
}
#product {
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    &-gallery {
        width: 650px;
    }
    &-info {
        width:600px;
        &__first {
            border-bottom: 1px solid #9f9f9f;
            &-name {
                font-weight: 700;
                font-size: 37px;
                margin:0 0 20px 0;
            } 
            &-articul {
                font-size: 16px;
                color:#9f9f9f;
                margin: 0 0 20px 0;
                span {
                    color:#000;
                }
            }
        }
        &__specifications {
            padding-top: 24px;
            margin-bottom: 30px;
            ul {
                padding:0;
                margin:0;
                li {
                    list-style: none;
                    font-size: 14px;
                    margin-bottom: 5px;
                    .specification {
                        color:#848484;
                        margin-right: 4px;
                    }
                    .specification-anser {
                        color:#181818;
                    }
                }
            }
        }
        
    }
}
.product-info__properties-price__last {
    color:#9f9f9f;
    margin-bottom: 0px;
}
.product-info__properties-price__last span {
    text-decoration: line-through;
    color:#f61818 !important;
}
.product-add {
    display: flex;
    max-width: 479px;
    justify-content: space-between;
    button {
        width: 227px;
        height: 56px;
        background: #ffd304;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        border:0;
        outline: 0;
        cursor: pointer;
        img {
            margin-right: 14px;
        }
    }
}
.product-info__properties-price__current {
    p {
        font-weight: 700;
        font-size: 44px;
        color:#131313;
        margin-top: 0;
        margin-bottom: 20px;
    }
}
.product-info__properties-color {
    display: flex;
    width:160px;
    justify-content: space-between;
    margin-bottom: 20px;
    input {
    display: none; 
    }
}

#black {
    width: 21px;
    height: 21px;
    background: #000;
    border-radius: 50%;
    border:3px solid #fff;
    cursor: pointer;
}

#red {
    width: 21px;
    height: 21px;
    background: #e82020;
    border-radius: 50%;
    border:3px solid #fff;
    cursor: pointer;
}
#green {
    width: 21px;
    height: 21px;
    background: #7bdd24;
    border-radius: 50%;
    cursor: pointer;
    border:3px solid #fff;
}
#white {
    width: 21px;
    height: 21px;
    background: #fff;
    border-radius: 50%;
    border:1px solid rgb(170, 170, 170);
    cursor: pointer;
}
label[for="product-white"] {
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#blue {
    width: 21px;
    height: 21px;
    background: #249bf7;
    border-radius: 50%;
    border:3px solid #fff;
    cursor: pointer;
    
}
input[type="radio"]:checked + label {
    div {
        border:3px solid #ffd304 !important;
    }
}
.product-info__properties-color {
    label:hover {
        div {
            border:3px solid #ffd304 !important;
        }
    }
}

.colorActive {
    border:3px solid #ffd304 !important;
}
.amazingslider-bullet-wrapper-1 {
    height: 535px !important;
}
.amazingslider-nav-container-1 {
    margin:0 !important;
}
.amazingslider-nav-1 {
    left:0 !important;
    right:100% !important;
}
.amazingslider-bullet-image-1 {
    border:1px solid #e2e2e2;
    width: 95px !important;
    height:92px !important;
}
.amazingslider-bullet-selected > div {
    width: 95px !important;
}
.amazingslider-bullet-wrapper-1 , .amazingslider-nav-1 {
    margin-left: 0 !important;
}
.amazingslider-bullet-1 {
    margin-bottom: 11px !important;
}
#amazingslider-wrapper-1 {
    margin: 0 !important;
}
.amazingslider-slider-1 {
    display: block;
    position: relative;
    left: 110px !important;
    top: 0px;
    width: 100%;
    height: auto;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
}
#amazingslider-1 {
    height: 511px !important;
}
.catalog-additional {
    position: absolute;
    min-width: 400px;
    left: 100%;
    //top: -22px;
    top: -9999px;
    background: #f2efdd;
    box-sizing: border-box;
    padding:22px 20px;
    ul {
        padding:0 !important;
    }
}
.catalog-arrow {
    float: right;
    margin-top: 6px;
    margin-right: 10px;
}
.product-info__properties-quantity {
    display: flex;
    margin-bottom: 20px;
    p {
        margin: 0 14px 0 0;
    }
    span {
        font-size: 15px;
        color:#979797;
        margin-left: 13px;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
        text-align: center;
    }
    /* Для Firefox */
    input[type=number]{
    -moz-appearance: textfield;
    max-width:35px;
    }
    button {
        width: 19px;
        height: 19px;
        border:0;
        outline: 0;
        background: #ffd304;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .quantity-block {
        display: flex;
        align-items: center;
    }
    .quantity-num {
        text-align: center;
        border:0;
        outline: 0;
        font-size: 15px;
    }
}
.item .best-offers {
    margin-bottom: 50px;
}
.amazingslider-car-left-arrow-1 {
    display: block !important;
    background: url(../images/carouselarrows-32-32-1.png) left top no-repeat !important;
    margin-left: 0 !important;
    transform: rotate(-90deg);
}
.amazingslider-car-right-arrow-1 {
    display: block !important;
    background: url(../images/carouselarrows-32-32-1.png) right top no-repeat !important;
    margin-left: 0 !important;
    transform: rotate(-90deg);
}
.item {
    .swiper-container {
        display: none;
    }
}

@import 'media';